<% include header %>


    <div class="ui text container">
            <h1 class="ui inverted header"  id="margin" style="font-family: Arial">
                Choisissez  votre  nom  de  Ninja!
            </h1>

                <div class="ui container" id="margin">
                    <select  id="gender-select" class="ui multiple selection dropdown">
                        <option value=""></option>
                        <% for(let i=0; i< buzzwordGroups.length;i++ ) { %>
                            <option value="<%= buzzwordGroups[i].buzzword %>"><%= buzzwordGroups[i].buzzword %></option>
                        <% } %>
                    </select>
                    <div class="ui button vider">
                        Vider
                    </div>
                </div>
                <button type="submit" class="ui huge primary button continuer"  id="margin">
                    Continuer<i class="right arrow icon"></i>
                </button>

    </div>
    </div>


<% include footer %>

