<% include header %>


    <div class="ui text container">
            <h1 class="ui inverted header"  id="margin" style="font-family: Arial">
                Choisissez  votre  nom  de  Ninja!
            </h1>
            <form action="/" method="post" class="ui form">
                <div class="ui container" id="margin">
                    <select name="gender" id="gender-select" class="ui multiple selection dropdown">
                        <option value=""></option>
                        <option value="C++">C++</option>
                        <option value="F++">F++</option>
                        <option value="PHP">PHP</option>
                        <option value=".Net">.Net</option>
                    </select>
                    <div class="ui button vider">
                        Vider
                    </div>
                </div>
                <button type="submit" class="ui huge primary button continuer"  id="margin">
                    Continuer<i class="right arrow icon"></i>
                </button>
            </form>
    </div>
    </div>


<% include footer %>

