<% include header %>

<div class="ui container">
    <select name="gender" id="gender-select" class="ui multiple selection dropdown">
        <option value="1">C++</option>
        <option value="2">F++</option>
        <option value="3">PHP</option>
        <option value="4">.Net</option>
    </select>
</div>
<script>
    $('#gender-select').dropdown();
</script>

<% include footer %>

