<% include header %>


<div class="ui text container">
    <h1 class="ui inverted header"  id="margin" style="font-family: Arial">
        Votre super nom de  Ninja est!
    </h1>
    <div class="ui container" id="margin">

    </div>
</div>
</div>



<% include footer %>
